@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    height: 100vh;
    width: 100vw;
}

header {
    margin: 47px 0 0 42px;
}

.link-menu {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.88px;
    margin-right: 32px;
    cursor: pointer;
}

.button-menu {
    width: 124px;
    height: 51px;
    opacity: 1;
    background: #6FBF44;
    border: none;
    cursor: pointer;

}

.button-menu:hover {
    opacity: .8;
}

.button-menu:active {
    opacity: .5;
}


h1 {
    width: 582px;
    height: 164px;
    opacity: 1;
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.6px;

}

p {
    width: 493px;
    height: 99px;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;

}

.container-rigth {
    margin-top: 342px;
    margin-left: 801px;
}

.button-more {

    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 1px;
    width: 124px;
    height: 51px;
    opacity: 1;
    color: #6FBF44;
    background: none;
    border: none;
    cursor: pointer;
}

.button-more:hover {
    opacity: .8;
}

.button-more:active {
    opacity: .6;
}

img {
    display: inline-block;
    margin-top: -450px;
    margin-left: 121px;
    width: 595px;
    height: 500px;
}

@media screen and (max-width: 530px) {
    .container-left {
        width: 10%;
        height: 30%;
        padding: 0;
        margin: 0;
    }



    .container-rigth {
        display: inline;
        height: 100%;
        width: 100%;
        position: static;

    }


    img {
        position: static;
        width: 365px;
        height: 356px;
        margin: -79px 75px 37px;
    }


    header {
        display: block;
    }


    h1 {
        width: 458px;
        height: 48px;
        font-weight: 700;
        font-size: 58px;
        line-height: 51px;
        letter-spacing: 0.6px;
        text-align: center;
        margin-top: 50px;
        color: #161A49;
        margin: 11px 68px 125px;


    }


    p {
        width: 304px;
        height: 165px;
        margin: 213px 43px 0;
        opacity: 1;
        font-weight: 400;
        font-size: 18px;
        line-height: 33px;
        letter-spacing: 0.5px;
        text-align: center;


    }

    .button-more {
        margin: 0 auto;
        display: block;
    }

    .link-menu {
        display: none;
    }

    .button-menu {
        display: inline-block;
        width: 151px;
        height: 50px;
        margin-top: -11px;
        margin-left: 375px;
        margin-right: 11px;
        border-radius: 23px;
        border-width: 25px;
        font-weight: 500;
        font-size: 17px;
        line-height: 100%;
        letter-spacing: 3px;
        color: white;




    }
}